<webscript>
    <shortname>{{shortName}}</shortname>
    <description>{{description}}</description>
    <url>{{url}}</url>
    <authentication>{{authentication}}</authentication>
    <format default="">argument</format>
    <family>{{family}}</family>
</webscript>